<footer class="footer pt-250 pb-250">
	<div class="container footer__container">
		<div class="footer__logo">
			<img src="/src/assets/logo--footer.svg" width="249" height="26" loading="lazy" alt="Logo (footer)">
		</div>
		<div class="footer__copy">
			&copy; <span class="js-year">{# fallback --> #}{{ "now"|date("Y") }}</span>
		</div>
	</div>
</footer>